:host{
  display: flex;
  width: 168px;
  height: 302px;
  padding: 18px;
  flex-direction: column;
  justify-content: space-between;
  img{
    width: 168px;
    height: 252px;
    border-radius: 10px;
  }
  .star{
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  h4{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #faf8f8;
    margin: 0;
  }
  .rating{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
  }

}

