:host {
  display: block;
  height: 987px;
  position: relative;

 .poster {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 1;
    display: block;
    background-repeat: no-repeat;
    background-position: left;

  }

  .gradient {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(90deg, #000000 17.76%, rgba(0, 0, 0, 0.68) 51%, rgba(196, 196, 196, 0) 100%);
  }


.content{
margin: 100px auto auto 100px;
color: white;
  height: 100%;
  width: 100%;

}

}
