<ng-container *ngIf="movie">
  <div class="poster" [style.background-image]="'url('+ (movie.backdrop_path )  +  ') '"  >

  </div>
    <div class="gradient">
      <div class="content">
        <div class="title">{{movie.title}}</div>
        <div class="overview">{{movie.overview}}</div>
        <div class="rating">Vote Average: {{movie.vote_average}}
          <img ngSrc="assets/icons/Imdb.png" alt="star" class="IMDB" width="50" height="20">
        </div>
        <div class="actions">
          <button app-button>Watch</button>
        </div>
      </div>
    </div>
  <div class="carousel" *ngIf="carousel">
    <ng-template *ngTemplateOutlet="carousel"></ng-template>
  </div>

</ng-container>





<!--  <div class="poster" [style.background-image]="'url('+ image + ')'" >
    <div class="content">content</div>

  </div>
  <div class="gradient">


  </div>-->
