<header>
  <nav>
    <div class="logo">
      <h1>The Movie Database</h1>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li class="backdrop-menu">
        <a href="#">Movies</a>
        <div class="backdrop"></div>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Comedy</a></li>
          <li><a href="#">Drama</a></li>
          <li><a href="#">Horror</a></li>
          <li><a (click)="openDialog()">Romance</a></li>
          <li><a href="#">Sci-Fi</a></li>
          <li><a href="#">Thriller</a></li>
          <li><a href="#">Top rated</a></li>
          <!-- Add more movie genres as needed -->
        </ul>
      </li>
      <li><a href="#">TV Shows</a></li>
      <li><a routerLink="people">People</a></li>
    </ul>
    <div>
      <input type="text" placeholder="Search" class="search">
    </div>
  </nav>
</header>


