
header {
  background: linear-gradient(90deg, #333 20%, rgba(0, 0, 0, 0.4) 100%);
  color: #fff;
  padding: 10px;
}

nav {
  flex: 1;
  display: flex;
  gap: 30px;
}

.logo h1 {
  font-size: 24px;
  font-family: 'Griffy', sans-serif;
  color: #ff5500;
}

.nav-links li {
  display: inline-block;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.search {
  width: 323.1px;
  height: 36.9px;
  background: #3B567D;
  border-radius: 18.4486px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: rgb(250, 248, 248);
  font-weight: 600;
  &::placeholder {
    color: rgb(250, 248, 248);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5500;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.featured-movies {
  margin-top: 40px;
}

.featured-movies h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.movie-card {
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-card h3 {
  font-size: 18px;
}

//================================ backDrop menu ================================
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 10px;
  position: relative;

  :hover {
    color: #ff5500
  }
}

.nav-links li a {
  text-decoration: none;
  color: #efeeee;
  font-size: 18px;
  font-weight: 500;
}

.backdrop-menu {
  position: relative;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(196, 192, 192, 0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-top: 10px;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 34, 34, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0.3s ease;
}

.backdrop-menu:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;

}

.backdrop-menu:hover .backdrop {
  opacity: 1;
  visibility: visible;

}

//=============================== end backDrop menu ================================
