<div class="header">
  <h3 class="title">{{title}}</h3>

  <ng-container *ngIf="headerBtn">
    <ng-container *ngTemplateOutlet="headerBtn"></ng-container>
  </ng-container>
</div>
<div class="list">

  <swiper-container slides-per-view="7" space-between="120" speed="500" loop="true" >
    <ng-container *ngFor="let movie of movie">

      <swiper-slide>
        <app-movie-cards [movie]="movie"/>
      </swiper-slide>
    </ng-container>
  </swiper-container>

<!--  <ng-container *ngFor="let movie of movie">-->
<!--    <app-movie-cards [movie]="movie"/>-->
<!--  </ng-container>-->


</div>

