/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:host{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.body {
  font-family: Arial, sans-serif;
  background: linear-gradient(20deg, #000000 30%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  app-header{
    flex: initial;
  }
  .content{
    //position: absolute;
    //top: 70%;
    //width: calc(100% - 125px);
    //height: 500px;
    //margin-left: 125px;
    display: flex;
    flex-direction: column;
    width: 100%;


  }
    app-footer{
    flex: initial;
      //position: absolute;
      //top: 100px;
      //left: 0;
      //z-index: 100;


  }

  app-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}
