 :host{
  color: white;

  .wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 125px 30px;
  }
  .movies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    margin: 0 0 0 90px;
  }

}
