<div class="wrapper">
  <div class="filter" [formGroup]="filterForm" >
    <input formControlName="primary_release_year"/>
    <select formControlName="with_genres">
      <option value="">All</option>
      <option *ngFor="let genre of genres()" [value]="genre.id">{{genre.name}}</option>
    </select>
  </div>
</div>
<div class="movies">
  <ng-container *ngIf="movies()">
    <ng-container *ngFor="let movie of movies() ">
      <app-movie-cards [movie]="movie"></app-movie-cards>
    </ng-container>
  </ng-container>

  <pagination-controls
    [maxSize]="maxSize"
    previousLabel="Prev"
    nextLabel="Next"

    (pageChange)="onChangeTable($event)"
  >
  </pagination-controls>
</div>

