/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
}

.nav-links li {
  display: inline-block;
  margin-left: 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.main {
  padding: 20px;
  background: #6c757d;
}

.hero {
  //background-image: url(/src/assets/images/img/2.jpg);
  //background-size: cover;
  //background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #4f4e4e;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5500;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.featured-movies {
  margin-top: 40px;
}

.featured-movies h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.movie-card {
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-card h3 {
  font-size: 18px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
