<footer>

  <div class="footer-container">
    <div class="language">
      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 13.1421 4.85786 16.5 9 16.5Z"
          stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M1.5 9H16.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        <path
          d="M9 1.5C10.876 3.55376 11.9421 6.21903 12 9C11.9421 11.781 10.876 14.4462 9 16.5C7.12404 14.4462 6.05794 11.781 6 9C6.05794 6.21903 7.12404 3.55376 9 1.5V1.5Z"
          stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <div>
        English
      </div>
    </div>
    <div class="navigation">
      <div class="title">NAVIGATION</div>
      <ul>
        <li><a>Home</a></li>
        <li><a>FAQ</a></li>
        <li><a>Movies</a></li>
        <li><a>About Us</a></li>
        <li><a>Help Center</a></li>
      </ul>
    </div>

    <div class="navigation">
      <div class="title">Legal</div>
      <ul>
        <li><a>Privacy Policy</a></li>
        <li><a>Terms of Service</a></li>
        <li><a>Cookie Preferences</a></li>
        <li><a>Corporate Information</a></li>
      </ul>
    </div>
    <div class="navigation">
      <div class="title">Talk to Us</div>
      <ul>
        <li>Mail@suport</li>
        <li><a>Tel: 555123123</a></li>
      </ul>
    </div>
    <div class="navigation">
      <div class="title">Follow Us</div>
      <div class="social">
        <a href="https://www.facebook.com/" target="_blank">
          <img src="https://img.icons8.com/ios-filled/50/ffffff/facebook.png" alt="facebooke"/>
        </a>
        <a href="https://twitter.com/" target="_blank">
          <img src="https://img.icons8.com/ios-filled/50/ffffff/twitter.png" alt="twitter"/>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new.png" alt="instagram"/>
        </a>
      </div>
    </div>
  </div>
  <p>&copy; 2023 The Movie Database. All rights reserved.</p>
</footer>



