:host {
  position: relative;



.content{
  //z-index: 9;
  //position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 100%;
  //margin-left: 125px;
  //margin-bottom: 25px;
}
}
