<app-slider [popularMovies]="popularMovies$ | async"/>




<!--<main>
    <section>
      <div class ='people'>
        <router-outlet></router-outlet>
      </div>
    </section>
    <section class="hero">
      <div class="hero-content">
        <h2>Welcome to The Movie Database</h2>
        <p>Discover and explore your favorite movies, TV shows, and more!</p>
        <a href="#" class="btn">Get Started</a>
      </div>
    </section>

    <section class="featured-movies">
      <app-movie-images class="movie-grid"></app-movie-images>
      <app-top-rated-movies></app-top-rated-movies>
      <h2>Featured Movies</h2>
      <div class="movie-grid">
        <div class="movie-card">
          <img [src]="movieImage | async" alt="Movie Image">
          <h3>Movie 1</h3>
        </div>
        <div class="movie-card">
          <img [src]="movieImage | async" alt="Movie Image">
          <h3>Movie 2</h3>
        </div>
        <div class="movie-card">
          <img [src]="movieImage | async" alt="Movie Image">
          <h3>Movie 3</h3>
        </div>
      </div>
    </section>
  </main>-->


