<app-slider/>


<!--<div class="body">-->
<!--&lt;!&ndash;  <header>&ndash;&gt;-->
<!--&lt;!&ndash;    <nav>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="logo">&ndash;&gt;-->
<!--&lt;!&ndash;        <h1>The Movie Database</h1>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <ul class="nav-links">&ndash;&gt;-->
<!--&lt;!&ndash;        <li><a href="#">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li class="backdrop-menu">&ndash;&gt;-->
<!--&lt;!&ndash;          <a href="#">Movies</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="backdrop"></div>&ndash;&gt;-->
<!--&lt;!&ndash;          <ul class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">Action</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">Comedy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li><a href="#">Drama</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; Add more movie genres as needed &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li><a href="#">TV Shows</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li><a routerLink="people">People</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </nav>&ndash;&gt;-->
<!--&lt;!&ndash;  </header>&ndash;&gt;-->

<!--  <main>-->
<!--    <section>-->
<!--      <div class ='people'>-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--    </section>-->
<!--    <section class="hero">-->
<!--      <div class="hero-content">-->
<!--        <h2>Welcome to The Movie Database</h2>-->
<!--        <p>Discover and explore your favorite movies, TV shows, and more!</p>-->
<!--        <a href="#" class="btn">Get Started</a>-->
<!--      </div>-->
<!--    </section>-->

<!--    <section class="featured-movies">-->
<!--      <app-movie-images class="movie-grid"></app-movie-images>-->
<!--      <app-top-rated-movies></app-top-rated-movies>-->
<!--      <h2>Featured Movies</h2>-->
<!--      <div class="movie-grid">-->
<!--        <div class="movie-card">-->
<!--          <img [src]="movieImage | async" alt="Movie Image">-->
<!--          <h3>Movie 1</h3>-->
<!--        </div>-->
<!--        <div class="movie-card">-->
<!--          <img [src]="movieImage | async" alt="Movie Image">-->
<!--          <h3>Movie 2</h3>-->
<!--        </div>-->
<!--        <div class="movie-card">-->
<!--          <img [src]="movieImage | async" alt="Movie Image">-->
<!--          <h3>Movie 3</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </main>-->

<!--</div>-->
