:host {
  position: relative;
  height: 2500px;



.content{
  //z-index: 9;
  //position: absolute;
  top: 70%;
  width: calc(100% - 125px);
  height: 500px;
  margin-left: 125px;
  margin-bottom: 25px;
}
}
