<app-slider [popularMovies]="popularMovies$ | async" [carousel]="trendingMovies"/>

<ng-template #trendingMovies>
<!--  <app-listcard title="Trending Movies" [movie]="(trendingMovies$ | async) || []" >-->
<!--    <ng-template #headerBtn>-->
<!--      <button class="show-all" (click)="searchMovies('trending')">Show All</button>-->
<!--    </ng-template>-->
<!--  </app-listcard>-->
</ng-template>

<div class="content">
    <app-listcard title="Trending Movies" [movie]="(trendingMovies$ | async) || []" >
      <ng-template #headerBtn>
        <button class="show-all" (click)="searchMovies('trending')">Show All</button>
      </ng-template>
    </app-listcard>

  <app-listcard title="Top Rated 20 Movies " [movie]="(topRatedMovies$ | async) || []">
    <ng-template #headerBtn>
      <button class="show-all" (click)="searchMovies('recommended')">Show All</button>
    </ng-template>
  </app-listcard>
  <app-listcard title="RECOMMENDED FOR YOU" [movie]="(trendingMovies$ | async) || []"></app-listcard>
  <app-top-rated-movies></app-top-rated-movies>
</div>




