<ng-container *ngIf="movies$ | async as movies; else loading;" >
  <h2>Top Rated Movies</h2>
  <ul class="movie-box ">
    <div *ngFor="let movie of movies; let i = index">
      <h3>{{ i + 1 }}. {{ movie.title }}</h3>
      <p>Language: {{ movie.original_language }}</p>
      <p>Rating: {{ movie.vote_average }}</p>
      <p>Release Date: {{ movie.release_date }}</p>
      <p>Overview: {{ movie.overview }}</p>
      <p>Popularity: {{ movie.popularity }}</p>
      <img *ngIf="movie.poster_path" [src]="endPoint + movie.poster_path" alt="{{ movie.title }} Poster" width="200">
      <div *ngIf="!movie.poster_path">No poster available</div>
    </div>
  </ul>
</ng-container>

<ng-template #loading>
  <p>Loading movies...</p>
</ng-template>
