/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%;}
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100vh;
}

.show-all {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #faf8f8;
  cursor: pointer;
  width: 149px;
  height: 40px;
  background: #625f5f;
  border-radius: 10px;
  border: none;
  outline: none;
  &:hover {
    background: #3a3838;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
